<footer id="footer">
  <div class="row">

  <div class="col-lg-6 left">
<p>
  <i class="fa fa-map-marker" aria-hidden="true"></i> 14 Hybridge House 1,Delhi,India
  </p>
  <p>
    <i class="fa fa-phone" aria-hidden="true"></i>  0184 227 2139
      </p>
      <p>
        <i class="fa fa-hourglass-half" aria-hidden="true"></i> 8AM-10PM
          </p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> contact@sparks.com
              </p>
    </div>

    <div class="col-lg-6 left">
  <h1>Contact Form</h1>
  <input class="bgg" type="text" name="" value="" placeholder="Your Name*"><br />
  <input class="bgg" type="text" name="" value="" placeholder="E-mail*"><br />
  <input class="bgg" type="text" name="" value="" placeholder="Phone"><br />
  <input class="bggg" type="text" name="" value="" placeholder="Message*">
      </div>
      <button name="button"onclick="sendMoney()" class="shift wave-effect waves-light btn z-depth-0" type="submit" style="border-radius: 8px; background-color:#F2564C;text-transform: capitalize; " cellspacing="0">Send Message</button>

</div>
</footer>


</body>

</html>
