<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spark Bank</title>
  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,500&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
<!--CSS Stylesheets-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!--Font awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">



<!--Bootstrp Strips-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</head>

<body>


  <!-- <div class="container-fluid"> -->
<div class="navv">

<nav class="navbar navbar-expand-lg navbar-dark">   <!-- For navbar and buttons we can use bootstrap documentation-->
  <a class="navbar-brand" href=""><img src="images/dribbble_sparkmark-removebg-preview.png" alt="" height="50" width="70">Spark Bank</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/transferMoney">Transfer</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/accounts">View Customers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#footer">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp
            Anjali Arora
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <a class="dropdown-item" href="/transferMoney">Transfer money</a>
            <a class="dropdown-item" href="/transactionHistory">Transactions</a> -->

            <a class="dropdown-item balance" href="#">Balance: Rs. <%= accounts[10].balance %></a>

          </div>
        </li>
  </ul>
</div>
</nav>
</div>
