<%- include("partials/header"); -%>

<section id="title">
    <div class="container-fluid">
<div class="row">


      <div class="col-lg-6 slide-right">
      <h1 class = "h1" style="color:#fff">A Friend You can <span style="color:red"> Bank </span> Upon.</h1>


      <p class="title-para"> “We are committed to helping you save more.You deserve a banker who listens, understands and makes it work.”</p>

        </div>



  <div id="carouselExampleControls" class="col-lg-6 carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img class="d-block w-100" src="images/pic2.png" alt="First slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img class="d-block w-100" src="images/pic1.png" alt="Second slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img class="d-block w-100" src="images/pic4.png" alt="Third slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img class="d-block w-100" src="images/[removal.ai]_tmp-60912be74cbbb.png" alt="Third slide">
      </div>
    </div>

  </div>

</div>
</div>
</section>





  <!-- Features -->

  <section id="features">



      <div class="row">

        <!-- <div class="feature-box col-lg-3 ">               <!--col-lg-4 is grid system through which we can set our site for any size whether it is a laptop,mobile,etc.-->
          <!-- <i class="icon fas fa-user-circle fa-10x"></i>      <!--fa-4x is used for large size of icons and the code for icons have been copied from awesome font icons site-->
          <!-- <p class="features-heading"></p>
          <a href="/create-userr" class=" waves-effect waves-light btn hoverable modal-trigger z-depth-3" style="background-color: #F53838;
                          text-transform: capitalize;  font-size: 14px; border: 1px solid #F53838; font-weight: bolder; width:11em; border-radius: 50px; color: #FFFFFF; font-family: Rubik;font-style: normal;">Create User</a>
  </div> -->



<div class="feature-box col-lg-4 ">
  <i class="icon fas fa-users fa-10x"></i>
  <p class="features-heading"></p>
   <a href="/accounts" class=" waves-effect waves-light btn hoverable modal-trigger z-depth-3" style="background-color: #F2564C;
                  text-transform: capitalize;  font-size: 14px; border: 1px solid #F2564C; font-weight: bolder; width:11em; border-radius: 50px; color: #FFFFFF; font-family: Rubik;font-style: normal; ">View Customers</a>

  </div>

  <div class="feature-box col-lg-4 ">
    <i class="icon fas fa-coins fa-10x"></i>
    <p class="features-heading"></p>
     <a href="/transferMoney" class=" waves-effect waves-light btn hoverable modal-trigger z-depth-3" style="background-color: #F2564C;
                    text-transform: capitalize;  font-size: 14px; border: 1px solid #F2564C; font-weight: bolder; width:11em; border-radius: 50px; color: #FFFFFF; font-family: Rubik;font-style: normal; ">Transfer Money</a>



  </div>

  <div class="feature-box col-lg-4 ">
    <i class="icon fas fa-hand-holding-usd fa-10x"></i>
    <p class="features-heading">                            </p>
     <a href="/transactionHistory" class=" waves-effect waves-light btn hoverable modal-trigger z-depth-3" style="background-color: #F2564C;
                    text-transform: capitalize;  font-size: 14px; border: 1px solid #F2564C; font-weight: bolder; width:11em; border-radius: 50px; color: #FFFFFF; font-family: Rubik;font-style: normal; ">Transaction Record</a>

  </div>
  </div>
  </section>



<!--   About section -->

  <div class = "section-about" id="about">

    <h1 class="aboutt" style="font-size:4rem; color:black;font-weight:bold;">
      About<span style="font-size:5rem;color:#F2564C"> Us</span>
</h1>
<p class = "about-me-info">
We are committed to helping our customers secure their financial future. We operate through agents, banks, as well as directly with customers through our websites and contact centres. Our approach is committed, straightforward and personal. We seek to offer our customers value for money, freeing them up to focus their resources on what matters to them.
  </p>


</div>
<%- include("partials/footer"); -%>
